
<div class="container">
    <nav class="navbar">
        <ul class="navbar">
            <li class="navbar"><a class="nav-link" routerLink="">Home</a></li>
            <li class="navbar"><a class="nav-link" routerLink="users">Users</a></li>
            <li class="navbar"><a class="nav-link" routerLink="categories">Categories</a></li>
            <li class="navbar"><a class="nav-link" routerLink="xyz">XYZ</a></li>
            <li class="navbar"><a class="nav-link" routerLink="about">About</a></li>
        </ul>
    </nav>
</div>
<h2>Lazy Loading</h2>
<ul>
    <li>
        <a routerLink="admin/login">Login</a>
    </li>
    <li>
        <a routerLink="admin/list">List</a>
    </li>
</ul>
<!-- <button (click)="loadAdmin()">Load Admin List</button>
<button (click)="loadUsers()">Load Admin List</button> -->
<router-outlet></router-outlet>